*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Serif Display';
  src: url('../fonts/DMSerif.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html{
  scroll-behavior: smooth;
}
:root{
  --main: linear-gradient(45deg, #121212, #353839 50%, #1c1c1c);
  --gradient2: linear-gradient(45deg, #121212, #2b2b2b, #1c1c1c, #2b2b2b);
  --bg1: #1c1c1e;
  --bg2: #2a2e35;

}

/*****  GENERAL  *****/

body{
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: #f0f0f0;
  background: var(--main);
  background-size: 300% 100%;
  min-height: 100vh;
  animation: gradient-flow 15s linear infinite;


  /* background-color: #121212;
  background-image: radial-gradient(circle, rgba(255,255,255,0.015) 1px, transparent 1px);
  background-size: 20px 20px;

  color: #e0e0e0; */
}


h1, h2, h3{
  /* font-family: 'DM Serif Display', serif; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #8b56f6; 

}
h1{
  font-size: clamp(3rem, 8vw, 4rem);
}
h2{
  font-size: clamp(1.875rem, 4.3vw ,2.5rem);
  margin: 1em auto;
  position: relative;
  width: fit-content;
  text-align: center;
  
}
h2::after{

  content: '';
  display: block;
  width: 150px;
  height: 30px;
  background-color: #121212;
  margin-top: -25px;
  margin-left: 100px;
  z-index: -1;
  box-shadow: 2px 2px 2px #4b5563;

}

h3{
  font-size: clamp();
}

.about, .skills, .formation, .projects, .references, .contact{
  width: 80%;
  max-width: 1100px;
  /* margin:0 auto; */
 /*  padding: 1em; */
}



a{
  color: #34de99;
}
a:visited{
  color: #178c5d;
}
a:hover, a:focus{
  color: #B9F4DC;
}
a:active{
 color: #e74c3c;
}

/*****  HEADER  *****/

header{
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  align-items: center;
  padding-block: 1em; 
  background-color: #1e1e1e;
  box-shadow: 0 3px 2px #4b5563;
} 
  .fixed{
  position: fixed;
  z-index: 100;
  top: 0;
 animation-name: fixed-appear;
  animation-duration: .3s;
  animation-timing-function: ease-out; 
    
  }

  @keyframes fixed-appear{
  from{opacity: 0;}
  to{opacity: 1;}
}

.hidden {
  animation-name: fixed-disappear;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

@keyframes fixed-disappear {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-100%); }
}



.logo{
  width: clamp(40px, 8.5vw, 80px);
}

.hamburger-menu {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  font-size: 1.5em;
  z-index: 1000;
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #2563eb;
  border-radius: 2px;
  transition: all 0.3s ease;
 
}

.hamburger-icon::before {
  transform: translateY(-8px);
}

.hamburger-icon::after {
  transform: translateY(8px);
}

.hamburger-menu[aria-expanded="true"] .hamburger-icon {
  background-color: transparent;
}

.hamburger-menu[aria-expanded="true"] .hamburger-icon::before {
  transform: translateY(0) rotate(45deg);
}

.hamburger-menu[aria-expanded="true"] .hamburger-icon::after {
  transform: translateY(0) rotate(-45deg);
}

nav{
   width: 100%;
   max-width:100%;
   text-align: center;
   max-height: 0;
   opacity: 0;
   visibility: hidden;
   /* transition: opacity .3s ease-out, max-height .3s ease-out, visibility .3s; */
   
}
.active{
  max-height: 100%;
  opacity: 1;
  visibility: visible;
}

.list-links{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1em;
}

.nav-link{
  text-decoration: none;
 
}

.nav-link:focus, .nav-link:hover{
  border: #B9F4DC solid 2px;
  border-radius: 5px;
  padding: .5em;

}
.nav-link.active-link {
  color: #ffffff;           /* Blanco sobre fondo oscuro */
  border-bottom: 2px solid #34de99;  /* Igual que color base */
  font-weight: bold;
}
/* .active-link{
  text-decoration: underline;
  color: red;
} */

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}


/*****  HERO  *****/

.hero{
  background-color: var(--gradient2);
  animation: gradient-flow 15s linear infinite;
  padding: 2em 4em;
  
}
.hero, .hero-text{
 /*  display: flex;
  flex-direction: column; */

  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 2em;
  /* padding: 1em; */
}


.hero-image{
  width: 40%;
  
  border-radius: 50%;
}

.hero-text{
 /*  max-width: 80%; */
  text-align: center;
}

.social-logo{
  width: clamp(40px, 6vw, 50px);
  background-color: #34de99;
  border-radius: 50%;
  padding: .3em;
  margin-inline: 1em;
}
/*****  ABOUT  *****/

.about{
  display: grid;
  grid-template-columns: 1fr;
  /* gap: .5em; */
}

.about>h2{
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 1em;
  
}
.about-courses{
  grid-column: 1/-1;
}

span{
/*   font-weight: 600; */
  
  background-color: #242424;
  padding: .1em;
}
/*****  SKILLS  *****/


.skills-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.badge{
  height: 30px;
  width: auto;
}


/*****  FORMATION  *****/

.formation>h2{
  text-align: center;
  /* margin-top: 1em */
}
.formation a{
  text-shadow: 1px 1px 1px #121212;
  text-underline-offset: .2em;
}

.tab-buttons{
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  
}

.tab-btn{
  background-color: #739286;
  border-radius: 5px;
  opacity: .7;
  padding: .5em;
   font-size: 1.1rem;
}

.tab-btn.active{
  background-color: #333;
  color: #fff;
  opacity: 1;
  border: solid 3px #2563eb;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
 
  font-weight: 500;

}

.tab-content{
  display: none;
  max-height: 500px;
  overflow-y: auto;
  background: #2a2e35;
  padding: 1em;
 
}

.tab-content.active{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.tab-content::-webkit-scrollbar{
  width: 15px;
}
.tab-content::-webkit-scrollbar-thumb{
  background-color: #2563eb;
  border-radius: 5px;
  border: solid 1px black;
  background-clip: content-box;

}

.tab-content::-webkit-scrollbar-thumb:hover{
  background-color: blueviolet;
  transform: scaleY(1.1)
}


.card{
  background-color: #fff;
  border: solid 1px black;
  padding: 1em;

}

/*****  PROJECTS  *****/
/* .projects{
  min-height: 100vh;
} */

.project{
 /*  display: flex;
  flex-direction: column; */

  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  border: green solid 1px;
  border-radius: 5px;
  padding: 1em;
 /*  margin-block: 1em; */
}

.project-info{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.project-image{
  width: 100%;
}
.btn-details{
  padding: .5em 1em;
  border: red solid 1px;
  color: black;

}
.project-badges, .project-links{
  display: flex;
  align-items: center;
  gap: 1em;
}
.project-link-image{
  width: 40px;
  background-color: #34de99;
  border-radius: 50%;
  padding: .2em;
}



.tech-badge{
  width: 30px;
}

.project-details{
  max-height: 0;
  overflow: hidden;
   padding-top: 0;
    padding-bottom: 0;
    opacity: 0; /* Inicia transparente */
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.5s ease-out;
}

.project-details.show-details {
    /* Un valor lo suficientemente grande para contener todo el contenido cuando está desplegado */
    /* Ajusta este valor si tu contenido es muy largo */
    max-height: 900px; 
  /*   padding-top: 15px;
    padding-bottom: 15px; */
    opacity: 1; /* Se vuelve visible */
    
}

.rol-details{
  list-style-type: circle;
  padding: 1.5em;

}
.rol-details>li{
  margin-block: .7em;
}





.swiper>blockquote{
  width: 80%;
  
}
.swiper-button-prev, .swiper-button-next{
  display: none;
}
/*****  CONTACT  *****/


.contact>h2{
  text-align: center;
  margin-block: 1em;
}

form{
  display: grid;
  grid-template-columns: 1fr;

}
input{
  
  padding: .5em;
  margin-bottom: 1em;
}
textarea{
  height: 5rem;
  padding: .5em;
  margin-bottom: 1em;
}
.btn-submit{
  width: fit-content;
  justify-self: center;
  margin-block: 1em;
  padding: .5em 2em;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #2563eb;
  color: #fff;

}

/* Para los spans de mensaje de error */
.error-message {
    color: #e74c3c; /* Un rojo para errores */
    font-size: 0.85em;
    margin-block: .5em;
    display: block;  /* Para que cada error ocupe su propia línea */
   grid-column: 1/-1;
  justify-self: center; 
  }

/* Para resaltar los campos inválidos */
input.invalid, textarea.invalid {
    border-color: #e74c3c; /* Borde rojo para el campo con error */
    box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.25); /* Un suave resplandor rojo */
}

/* Para el mensaje de estado general del formulario */
.form-status-message {
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    /* Los colores se asignan en JS */
}

/*****  FOOTER  *****/

footer{
  padding: 1em;
  text-align: center;
  border-top: solid 2px #4b5563;
}

/*****  MEDIA QUERIES  *****/

@media (min-width:800px){

header{
  justify-content: space-between;
 flex-wrap: nowrap; 
  padding: 1em 2em;
}

  .hamburger-menu{
    display: none;
  }
  nav{
  max-height: 100%;
  opacity: 1;
  visibility: visible;
 
  

  }
  .list-links{
    flex-direction: row ;
    justify-content: flex-end;
  }
  .nav-link{
    font-size: 1.1rem;
  }


  .hero{
    /* flex-direction: row;
    justify-content: space-evenly; */


    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 10% repeat(4, 1fr) 10%;
    grid-template-rows: auto;
  }
  .hero-image{
    width: 200px;
    grid-column: 5/6;
    grid-row: 1/2;
  }
  .hero-text{
    grid-column: 2/5;
    grid-row: 1/2;
  }
  .hero-text p:first-of-type{
    font-size: 1.2rem;
    font-weight: 600;

  }
  .about{
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  .project{
    flex-direction: row;
  }

  .project-image{
   width: 100%;
  }

 

  form{
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1em;
    width: 70%;
    margin: 0 auto;
  }
  label{
    grid-column: 1/2;
    /* justify-self: center; */

  }
  input, textarea{
    grid-column: 2/-1;
    margin-bottom: .5em;
  }
  .btn-submit{
    grid-column: 1/-1;
  }

  .swiper{
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width:1000px){

  header{
    justify-content: space-evenly;
  }
  .hero-image{
    width: 300px;
  }
  .project{
    grid-template-columns: 1fr 1fr;
  }
  .project-info{
    order: -1;
  }
  p{
    font-size: 1.1rem;
  }
}





