*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Serif Display';
  src: url('../fonts/DMSerif.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root{
  --main: linear-gradient(45deg, #121212, #353839 50%, #1c1c1c);
  --bg1: #1c1c1e;
  --bg2: #2a2e35;

}

/*****  GENERAL  *****/

body{
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: #f0f0f0;
  background: var(--main);


  /* background-color: #121212;
  background-image: radial-gradient(circle, rgba(255,255,255,0.015) 1px, transparent 1px);
  background-size: 20px 20px;

  color: #e0e0e0; */
}
h1, h2, h3{
  font-family: 'DM Serif Display', serif;
  color: #4f46e5;
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 1.8rem;
}
.about, .skills, .formation, .projects, .references, .contact{
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
 /*  padding: 1em; */
}

/*****  HEADER  *****/

header{
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  align-items: center;
  padding-block: 1em; 
  background-color: #1e1e1e;
  box-shadow: 0 3px 2px #4b5563;
  
}

.logo{
  width: 60px;
}

.open-menu{
  width: 50px;
}

nav{
   width:100%;
   text-align: center;
   max-height: 0;
   opacity: 0;
   visibility: hidden;
   /* transition: opacity .3s ease-out, max-height .3s ease-out, visibility .3s; */
   
}
.active{
  max-height: 100%;
  opacity: 1;
  visibility: visible;
}
.list-links{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1em;
}

/*****  HERO  *****/

.hero, .hero-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}


.hero-image{
  width: 200px;
  border-radius: 50%;
}

.hero-text{
  max-width: 80%;
  text-align: center;
}

/*****  ABOUT  *****/

.about{
  display: grid;
  grid-template-columns: 1fr;
  /* gap: .5em; */
}

.about>h2{
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 1em;
  
}

/*****  SKILLS  *****/


.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
.skills>h2{
  flex-basis: 100%;
  text-align: center;
  margin-top: 1em;
}
.badge{
  height: 30px;
  width: auto;
}


/*****  FORMATION  *****/

.formation>h2{
  text-align: center;
  margin-top: 1em
}


.tab-buttons{
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  
}

.tab-btn{
  background-color: burlywood;
  opacity: .7;
  padding: .5em;
}

.tab-btn.active{
  background-color: #333;
  color: #fff;
  opacity: 1;
  border: solid 1px #cbd5e0;
  box-shadow: 2px 2px 2px black;

}

.tab-content{
  display: none;
  max-height: 300px;
  overflow-y: auto;
  background: #2a2e35;
  padding: 1em;
 
}

.tab-content.active{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.tab-content::-webkit-scrollbar{
  width: 10px;
}
.tab-content::-webkit-scrollbar-thumb{
  background-color: #d64045;
  border-radius: 5px;
  border: solid 1px black;
  background-clip: content-box;

}

.tab-content::-webkit-scrollbar-thumb:hover{
  background-color: blueviolet;
  transform: scaleY(1.1)
}

.card{
  background-color: #fff;
  border: solid 1px black;
  padding: 1em;

}

/*****  PROJECTS  *****/

.project{
  display: flex;
  flex-direction: column;
}




.swiper>blockquote{
  width: 80%;
  
}
.swiper-button-prev, .swiper-button-next{
  display: none;
}
/*****  CONTACT  *****/


.contact>h2{
  text-align: center;
  margin-block: 1em;
}

form{
  display: grid;
  grid-template-columns: 1fr;

}
input{
  
  padding: .3rem;
  margin-bottom: .5em;
}
textarea{
  height: 5rem;
}


/*****  FOOTER  *****/

footer{
  padding: 1em;
  text-align: center;
}

/*****  MEDIA QUERIES  *****/

@media (min-width:800px){
  .about{
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  form{
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1em;
    width: 70%;
    margin: 0 auto;
  }
  label{
    grid-column: 1/2;
    /* justify-self: center; */

  }
  input, textarea{
    grid-column: 2/-1;
  }

  .swiper{
    width: 70%;
    margin: 0 auto;
  }
}






